<% if object.errors.any? %>
  <div id="error_explanation" class="bg-gray-500/10 text-red-500 px-3 py-2 font-medium rounded-lg mt-3 mb-4 border-l-4 border-red-500 text-sm">
    <h2 class="uppercase "><%= pluralize(object.errors.count, "error") %> </h2>
    <ul class="mt-2 list-disc list-inside">
      <% object.errors.each do |error| %>
        <li class="mt-1"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>