<div class="flex flex-col p-10">
  <h2 class="text-2xl text-primary font-bagel font-normal tracking-wide mt-5">
    Funtivities in
    <%= @user_location&.city || "Nairobi" %>,
    <%= @user_location&.country || "Kenya" %>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
    <% @events.each do |event| %>
      <%= render "components/event_card", event: event %>
    <% end %>
  </div>
</div>