<nav class="sm:w-3/4 bg-black/20 mx-auto mt-4 rounded-full text-white absolute sm:left-[10%] left-3 shadow-lg">
  <div class="mx-auto">
    <div class="flex justify-between sm:gap-0 gap-6 items-center py-1 px-4">
      <%= link_to root_path, class: 'flex items-center justify-center gap-2' do %>
        <%= image_tag "logo-white.png", alt: "foodmenu", class: "sm:h-8 h-4 sm:w-8 w-4" %>
        <h1 class="sm:text-xl text-base font-bagel tracking-wide">funtivities</h1>
      <% end %>

      <div class="sm:flex hidden gap-3 relative">
        <input type="text" class="outline-none border-none ring-primary px-4 py-2 focus:outline-none focus:border-none bg-transparent focus:ring-primary placeholder:text-white placeholder:text-sm" placeholder="Search for activities">
        <i class="fas fa-search absolute right-3 top-2 cursor-pointer hover:bg-black/10 px-2 py-1 rounded "></i>
      </div>

      <ul class="flex items-center gap-4 p-2 font-bold sm:text-sm text-xs capitalize">
        <%= link_to 'login', new_user_session_path, class: "hover:underline cursor-pointer" %>
        <%= link_to 'sign up', new_user_registration_path, class:"hover:underline cursor-pointer text-secondary"%>
      </ul>

      <div class="sm:hidden block">
       <i class="fas fa-bars"></i>
      </div>

    </div>
  </div>
</nav>