<li>
  <%= link_to root_path, class: "px-4 py-2 hover:bg-gray-200 hover:text-gray-900 flex gap-2 items-center " do %>
    <i class="fa-solid fa-house"></i>
    <span>dashboard</span>
  <% end %>
</li>

<li>
  <% event_items = [
    { path: events_path, title: 'All Events', icon: 'fa-solid fa-calendar-days'}
  ] %>

  <% if current_user.admin? %>
     <% event_items << { path: new_event_path, title: 'New Event', icon: 'fa-regular fa-calendar-plus'} %>
   <% end %>

  <%= render 'components/dropdown',
    icon: "fa-solid fa-calendar",
    title: 'Events',
    menu_id: 'events',
    icon_id: 'events-icon',
    items: event_items
  %>
</li>

<li class="absolute bottom-10">
  <%= button_to destroy_user_session_path, method: :delete, class: "px-4 py-2 hover:bg-red-500 hover:text-white flex gap-2 items-center text-red-500 w-40 " do %>
    <i class="fa-solid fa-power-off"></i>
    <span>Logout</span>
  <% end %>
</li>