<li>
  <%= link_to events_hosts_path, class: "px-4 py-2 hover:bg-gray-200 hover:text-gray-900 flex gap-2 items-center " do %>
    <i class="fa-solid fa-user"></i>
    <span>event hosts</span>
  <% end %>
</li>