<footer class="flex flex-col justify-center items-center py-4 px-8 gap-5">
 <div class="flex justify-center items-center gap-5 mt-10">
  <h5 class="text-lg font-semibold capitalize">list my event on funtivities</h5>
  <button class="underline uppercase text-primary px-4 py-2 rounded-md font-bold">get started -></button>
 </div>

 <div class="grid sm:grid-cols-3 grid-cols-1 capitalize mt-10 md:gap-20 gap-8">

   <div class="flex flex-col gap-2">
      <h5 class="font-semibold text-primary uppercase">company</h5>
      <a href="#" class="text-gray-900 hover:underline">about us</a>
      <a href="#" class="text-gray-900 hover:underline">careers</a>
      <a href="#" class="text-gray-900 hover:underline">press</a>
      <a href="#" class="text-gray-900 hover:underline">contact us</a>
      <a href="#" class="text-gray-900 hover:underline">help</a>
   </div>

   <div class="flex flex-col gap-2">
      <h5 class="font-semibold text-primary uppercase">community</h5>
      <a href="#" class="text-gray-900 hover:underline">events</a>
      <a href="#" class="text-gray-900 hover:underline">forum</a>
      <a href="#" class="text-gray-900 hover:underline">groups</a>
   </div>

   <div class="flex flex-col gap-2">
      <h5 class="font-semibold text-primary uppercase">legal</h5>
      <a href="#" class="text-gray-900 hover:underline">privacy policy</a>
      <a href="#" class="text-gray-900 hover:underline">terms of service</a>
      <a href="#" class="text-gray-900 hover:underline">cookie policy</a>
      <a href="#" class="text-gray-900 hover:underline">security</a>
      <a href="#" class="text-gray-900 hover:underline">sitemap</a>
   </div>


 </div>

  <div class="flex justify-center items-center gap-5 mt-10">
    <p class="text-gray-900 hover:underline">© 2024</p>
    <div class="flex gap-5">
      <a href="#" class="font-bagel text-primary tracking-wide hover:underline">funtivities</a>
    </div>
  </div>

  <div class="flex justify-center items-center gap-5 mt-10">
    <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
     <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>

</footer>