<footer class="flex flex-col justify-center items-center py-4 px-8 gap-5">
  <div class="flex md:flex-row flex-col md:justify-between md:items-center gap-5 mt-10 bg-primary text-secondary px-5 py-3 h-40 md:w-1/2 relative">
      <h5 class="text-lg font-bagel capitalize tracking-wide">want to list your event on funtivities ?</h5>
      <%= link_to 'get started', new_events_host_path, class:"capitalize px-4 py-2 rounded shadow bg-black/50 hover:scale-105 md:w-40 w-1/2" %>
  </div>

  <div class="grid md:grid-cols-5 grid-cols-1 mt-10 md:gap-20 gap-8">

    <div class="flex flex-col justify-center md:items-center gap-3">
      <div class="flex flex-col gap-2 justify-center md:items-center">
        <%= image_tag('logo-primary.png', class: 'w-10 h-10') %>
        <a href="#" class="font-bagel text-primary tracking-wide hover:underline">funtivities</a>
      </div>
      <p class="text-gray-900 text-sm hover:underline">© 2024</p>
    </div>

    <div class="flex flex-col gap-2 capitalize text-sm">
        <h5 class="font-semibold text-primary uppercase">account</h5>
        <a href="#" class="text-gray-900 hover:underline">sign up</a>
        <a href="#" class="text-gray-900 hover:underline">login</a>
        <a href="#" class="text-gray-900 hover:underline">list my event</a>
    </div>

    <div class="flex flex-col gap-2 capitalize text-sm">
        <h5 class="font-semibold text-primary uppercase">company</h5>
        <a href="#" class="text-gray-900 hover:underline">about us</a>
        <a href="#" class="text-gray-900 hover:underline">contact us</a>
        <a href="#" class="text-gray-900 hover:underline">help</a>
    </div>

    <div class="flex flex-col gap-2 capitalize text-sm">
        <h5 class="font-semibold text-primary uppercase">legal</h5>
        <a href="#" class="text-gray-900 hover:underline">privacy policy</a>
        <a href="#" class="text-gray-900 hover:underline">terms of service</a>
        <a href="#" class="text-gray-900 hover:underline">cookie policy</a>
    </div>

    <div class="flex flex-col gap-2 capitalize text-sm">
        <h5 class="font-semibold text-primary uppercase">follow us</h5>
        <div class="flex justify-center items-center gap-2">
          <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="bg-primary text-white flex justify-center items-center w-10 h-10 rounded-full">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
    </div>

  </div>

</footer>