<nav class="bg-gray-900 w-40 h-screen text-white relative">
  <div class="flex flex-col justify-center gap-5">
    <div class="flex flex-col gap-1 px-4 py-3">
      <%= image_tag(@host.logo, class: 'w-10 h-10 object-cover') %>
    </div>
    <ul class="text-xs capitalize font-semibold flex flex-col gap-2">
      <li>
        <%= link_to root_path, class: "px-4 py-2 hover:bg-gray-200 hover:text-gray-900 flex gap-2 items-center " do %>
          <i class="fa-solid fa-house"></i>
          <span>dashboard</span>
        <% end %>
      </li>

      <li>
        <%= render 'components/dropdown',
          icon: "fa-solid fa-calendar",
          title: 'Events',
          menu_id: 'events',
          icon_id: 'events-icon',
          items: [
            { path: events_path, title: 'All Events', icon: 'fa-solid fa-calendar-days'},
            { path: new_event_path, title: 'New Event', icon: 'fa-regular fa-calendar-plus'}
          ]
        %>
      </li>

      <li class="absolute bottom-10">
        <%= button_to destroy_user_session_path, method: :delete, class: "px-4 py-2 hover:bg-red-500 hover:text-white flex gap-2 items-center text-red-500 w-40 " do %>
          <i class="fa-solid fa-power-off"></i>
          <span>Logout</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>


