<div class="w-screen min-h-screen flex flex-col justify-center items-center overflow-hidden bg-primary">
  <div class="h-[500px] w-[500px] rounded-full absolute -top-10 -left-40 border-t-0 bg-black/10"></div>
  <%= image_tag "logo.png", class: "" %>
  <p class="text-center mt-1 text-4xl text-secondary font-bagel tracking-wide">
    funtivities.
  </p>
</div>

