<%= render 'components/breadcrumb', breadcrumbs: [
  {icon: 'fa-solid fa-house', text: 'home', path: root_path},
  {icon: 'fa-solid fa-calendar', text: 'events', path: events_path},
  {icon: 'fa-regular fa-calendar-plus', text: 'new'}
] %>

<div class="mt-10">
 <h5 class="text-xl font-black mb-10">add a new event.</h5>
 <%= render 'form' %>
</div>