<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Protest+Riot&family=Amatic+SC&display=swap');
      body {
        margin: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 14px;
        background-color: #fff;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      a {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #5a0a0a;
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
      }

      a:hover {
        color: #f48080;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>